<!doctype html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>HTML5/CSS3 Threaded Comments Block</title>
    <link rel="shortcut icon" href="http://www.webdesignerdepot.com/favicon.ico">
    <link rel="icon" href="http://www.webdesignerdepot.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/comment.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Wellfleet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
    <script src="js/comment.js"></script>

    <!--[if lt IE 9]>
  <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>

    <div id="w">
        <h1>Comment section</h1>
    <!-- sory by selector -->
        <div id="container">
            Sort by: 
            <select id="sort_by" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
              <option value="pubdate">Posted time</option>
              <option value="votes">Votes</option>
              <option value="number_replies">Number of replies</option>
            </select>   
            <div id="message"></div>

        <div id="container" discussion_id=<%= name%>>
            <!-- submit new comment here -->
            <form action='http://127.0.0.1:8081/comment/submit' method='post'>
                <input type="text" id="author_name" value="" name="comment[author]" placeholder="Name"/>
                <input type="text" name="comment[content]" placeholder="Your comments" />
                <button id="reply" title="reply"><img class='icon' src="img/reply.svg" /></button>
            </form>

            <ul id="comments">
            <% for(var i=0; i<comments.length; i++) {%>
              <%- include('comment_single', {comment: comments[i]}); %>   
            <% } %>         
        </div>
        </li>
        </ul>
    </div>
    </div>
</body>

</html>